.yamarket-basket {
	max-width: 1500px;
}

.yamarket-basket-table-viewport {
	display: block;
	width: 100%;
	overflow-x: auto;
}

.yamarket-basket-table {
	width: 100%;
	min-width: 800px;
	border: 1px solid #F1F1F1;
	border-spacing: 0;
	background: #fff;
}

.yamarket-basket-table tr.is--deleted {
	color: rgba(66, 73, 86, .5);
	text-decoration: line-through;
}

.yamarket-basket-table tr.is--partial [data-entity="COUNT_TEXT"],
.yamarket-basket-table tr.is--partial [data-entity="COUNT"] {
	display: none;
}

.yamarket-basket-table td {
	padding: 10px;
	vertical-align: top;
	text-align: right;
}

.yamarket-basket-table td.for--index {
	text-align: left;
	width: 1%;
	white-space: nowrap;
}

.yamarket-basket-table td.for--name {
	min-width: 250px;
	text-align: left;
}

.yamarket-basket-table td.for--price {
	width: 15%;
	white-space: nowrap;
}

.yamarket-basket-table td.for--count,
.yamarket-basket-table td.for--subsidy {
	width: 10%;
	white-space: nowrap;
}

.yamarket-basket-table td.for--count > .ui-ctl {
	float: right;
	margin-top: -5px;
	margin-bottom: -5px;
	max-width: 70px !important;
}

.yamarket-basket-table td.for--count > .ui-ctl > input {
	direction: rtl;
	text-align: right;
}

.yamarket-basket-table td.for--delete {
	width: 1%;
	white-space: nowrap;
}

.yamarket-basket-table thead td {
	border-bottom: 1px solid #F1F1F1;
	vertical-align: bottom;
	white-space: nowrap;
}

td.yamarket-basket-box {
	background: #f3f3f3;
	text-align: left;
	padding-top: 7px;
	padding-bottom: 7px;
}

.yamarket-basket-box__title {
	font-size: 14px;
}

.yamarket-basket-summary {
	display: table;
	margin-top: 12px;
}

.yamarket-basket-summary__row {
	display: table-row;
}

.yamarket-basket-summary__label {
	display: table-cell;
	padding-right: 6px;
	padding-top: 8px;
	text-align: right;
}

.yamarket-basket-summary__value {
	display: table-cell;
	padding-right: 10px;
	padding-top: 8px;
	width: 1%;
	white-space: nowrap;
	text-align: right;
}

.yamarket-cis-table {
	width: 100%;
	border-spacing: 0;
}

.yamarket-cis-table__head td {
	padding: 0 0 0 5px;
}

.yamarket-cis-table__number {
	padding: 5px 0;
	width: 1%;
	white-space: nowrap;
}

.yamarket-cis-table__control {
	padding: 5px 0 5px 5px;
}

.yamarket-cis-table__control.type-count--1 {
	width: 100%;
}

.yamarket-cis-table__control.type-count--2 {
	width: 50%;
}

.yamarket-cis-table__control.type-count--3 {
	width: 33.33%;
}

.yamarket-cis-table__control.type-count--4 {
	width: 25%;
}

.yamarket-cis-table__input {
	width: 100%;
	box-sizing: border-box;
}

.yamarket-cis-table__type {
	padding: 15px 0 0 5px;
}

.yamarket-cis-table__type-value {
	max-width: 100%;
	box-sizing: border-box;
}