@font-face {
    font-family: Gotham Pro;
    font-display: swap;
    src: url(fonts/GothamProRegular.eot);
    src: url(fonts/GothamProRegular.eot?#iefix) format("embedded-opentype"), url(fonts/GothamProRegular.woff) format("woff"), url(fonts/GothamProRegular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400
}

@font-face {
    font-family: Gotham Pro;
    font-display: swap;
    src: url(fonts/GothamProBold.eot);
    src: url(fonts/GothamProBold.eot?#iefix) format("embedded-opentype"), url(fonts/GothamProBold.woff) format("woff"), url(fonts/GothamProBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700
}

@font-face {
    font-family: Gotham Pro;
    font-display: swap;
    src: url(fonts/GothamProBlack.eot);
    src: url(fonts/GothamProBlack.eot?#iefix) format("embedded-opentype"), url(fonts/GothamProBlack.woff) format("woff"), url(fonts/GothamProBlack.ttf) format("truetype");
    font-style: normal;
    font-weight: 900
}

@font-face {
    font-family: Gotham Pro;
    font-display: swap;
    src: url(fonts/GothamProMedium.eot);
    src: url(fonts/GothamProMedium.eot?#iefix) format("embedded-opentype"), url(fonts/GothamProMedium.woff) format("woff"), url(fonts/GothamProMedium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500
}

@font-face {
    font-family: socicon;
    font-display: swap;
    src: url(fonts/socicon.ttf?vj811l) format("truetype"), url(fonts/socicon.woff?vj811l) format("woff"), url(fonts/socicon.svg?vj811l#socicon) format("svg");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Flaticon;
    font-display: swap;
    src: url(fonts/Flaticon.eot);
    src: url(fonts/Flaticon.eot?#iefix) format("embedded-opentype"), url(fonts/Flaticon.woff) format("woff"), url(fonts/Flaticon.ttf) format("truetype"), url(fonts/Flaticon.svg#Flaticon) format("svg");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: icomoon;
    font-display: swap;
    src: url(fonts/icomoon.eot?qk5i3j);
    src: url(fonts/icomoon.eot?qk5i3j#iefix) format("embedded-opentype"), url(fonts/icomoon.ttf?qk5i3j) format("truetype"), url(fonts/icomoon.woff?qk5i3j) format("woff"), url(fonts/icomoon.svg?qk5i3j#icomoon) format("svg");
    font-weight: 400;
    font-style: normal
}