.yamarket-editor-wrapper {
	max-width: 1220px;
}

.yamarket-editor-wrapper__title {
	margin-left: 20px;
	margin-bottom: 5px;

	color: #535c69;
	font-family: "OpenSans-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
}

.yamarket-editor-wrapper__refresh {
	float: right;
	margin-right: 20px;
	margin-bottom: 5px;
}

.yamarket-editor-wrapper .ui-entity-editor-column-wrapper {
	flex-wrap: wrap;
	width: calc(100% + 20px);
	margin-left: -20px;
}

.yamarket-editor-wrapper .ui-entity-editor-column-content {
	flex-basis: 600px;
	padding-left: 20px;
	padding-right: 0;
}

.yamarket-editor-wrapper .ui-entity-editor-section,
.yamarket-editor-wrapper .ui-entity-editor-section-edit {
	width: 600px;
	max-width: 100%;
}

.yamarket-editor-wrapper .ui-entity-editor-section[data-cid="NOTIFICATION_SECTION"],
.yamarket-editor-wrapper .ui-entity-editor-section[data-cid="BOX_SECTION"],
.yamarket-editor-wrapper .ui-entity-editor-section-edit[data-cid="BOX_SECTION"] {
	width: 1220px;
}

.yamarket-icon-action {
	display: inline-block;
	vertical-align: middle;
	width: auto;
	height: 20px;
	padding: 0 2px;
	border: 0;

	position: relative;
	top: -2px;

	margin-top: -2px;
	margin-bottom: -2px;

	background: none;
	color: #88979B;
	cursor: pointer;
}

.yamarket-icon-action__draw {
	display: inline-block;
	vertical-align: middle;
	width: 10px;
	height: auto;
}

.yamarket-icon-action[data-action="more"] .yamarket-icon-action__draw {
	width: 14px;
}

.yamarket-icon-action:hover,
.yamarket-icon-action:focus {
	color: #e2725e;
}

.yamarket-icon-action[disabled] {
	color: rgba(136, 151, 155, 0.1);
}

.yamarket-icon-action[hidden] {
	display: none;
}